* {
  box-sizing: border-box;
}

body {
  /*max-width: 2000px;*/
  /*width: 100%;*/
}

#calcContent {
  border: 1px thin black;
}


#display {
  border: 1px thin #64B255;
  background-color: #64B255;
  color: white;
  padding: 45px 48px;
  /*width: 33.7%;*/
  margin-left: -5px;
}

.calcButton {
  border: 1px thin #64B255;
  background-color: #64B255;
  color: white;
  margin-left: -5px;
}

input {
  padding: 45px;
  font-size: 20px;
}

#calcRow2 {
margin: 0 -8px;
}



.opButton {
  border: 1px thin #83C178;
  background-color: #83C178;
  color: white;
  margin-left: -5px;
}
